* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 60% 1fr;
}
#first {
  background-color: rgb(190, 187, 187);
}
#second {
  background-color: rgb(123, 211, 123);
}
#third {
  background-color: rgb(80, 80, 218);
}

